@import "themes/macchiato.css";
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Hack Nerd Font, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

window#waybar {
    background: transparent;
}


/*window#waybar {

  background-color: shade(@base, 0.9);
  border: 2px solid alpha(@crust, 0.3);
  border-radius: 10px;
}*/

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}


#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#workspaces,
#workspaces button,
#window,
.custom-spotify,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd,
.modules-right {
    color: @text;
    border-radius: 10px;
    background-color: @base;
    margin : 3px;
    padding-top: 1px;
    padding-left: 3px;
    padding-right: 3px;
}

#custom-separator {
    color: @overlay0;
    margin : 0 0px;
    padding : 0 0px;
}

#workspaces button.active {
    color: @blue;
}


button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
}

#workspaces button:hover {
    padding-right: 8px;
    background: @surface0;
}


#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces button.persistent {
    color: @overlay0;
}

.empty{
    background-color: transparent;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
