@import "./themes/gruvbox.css";


@define-color workspaces @bg4;
@define-color window @bg2;
@define-color center @bg4;
@define-color center-alt @bg2;
@define-color tray @bg3;
/* @define-color network @bg3; */
@define-color backlight @bg2;
@define-color wireplumber @bg1;
@define-color battery @bg0;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Hack Nerd Font, FontAwesome, Noto Sans CJK JP, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
	/* color: @fg0; */
	margin: 0;
	padding: 0;
}

#window,
#workspaces button label,
#cava,
#clock,
#tray,
#network,
#backlight,
#wireplumber,
#battery{
	padding: 0 .5em;
}

window#waybar{
    background-color: @bg0;
}

#workspaces{
	background-color: @workspaces;
}

#workspaces button{
	color: @fg0;
	font-size: 5em;
}

#workspaces button.empty{
	color: @bg0;
}

#workspaces button:hover {
    /* padding-right: 8px; */
	color: @bg0;
    background: @fg2;
	border-radius: 0;
}

#workspaces button.urgent {
    background-color: @red1;
}

#window {
	background-color: @window;
}

/* CENTER MODULES */

#cava {
	background-color: @center;
}

#clock {
	background-color: @center-alt;
}

/* RIGHT MODULES */
#tray{
	background-color: @tray;
}

/* #network{ */
/* 	background-color: @network; */
/* } */

#backlight{
	background-color: @backlight;
}

#wireplumber{
	background-color: @wireplumber;
}

#battery{
	background-color: @battery;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* ARROWS */

#custom-arrow-right,
#custom-arrow-left {
    padding: 0;
    font-family: Hack Nerd Font Mono;
    font-size: 1.3em;
}

#custom-arrow-right.workspaces{
	color: @workspaces;
	background-color: @window;
}

#custom-arrow-right.window{
	color: @window;
}

#custom-arrow-left.center, #custom-arrow-right.center{
	color: @center;
	background-color: @center-alt;
}

#custom-arrow-left.center-left, #custom-arrow-right.center-right{
	color: @center-alt;
}

#custom-arrow-left.tray{
	color: @tray;
	background-color: @bg0;
}

#custom-arrow-left.network{
	color: @network;
	background-color: @tray;
}

#custom-arrow-left.backlight{
	color: @backlight;
	background-color: @tray;
}

#custom-arrow-left.wireplumber{
	color: @wireplumber;
	background-color: @backlight;
}

#custom-arrow-left.battery{
	color: @battery;
	background-color: @wireplumber;
}
